<b><i>Admin,Please Provide the new city details to be added...</b></i>
<table  align="center" width="1">
<tr>
<td>
	<form name="addcity" action="success1" method="get">
<br>
		<tr><td>City Name:<input type="text" name="cname"/></td></tr><br>
		<tr><td>Pin-Code:<input type="number" name="pin"/></td></tr><br>
        <tr><td>Number of Theatres:<input type="number" name="nooftheatres"/></td></tr><br>
        <tr><td><input type="submit" value="Insert New City" name="insertnewcity"/></td></tr>
</form>
</td>
</tr>
</table>
