<b><i>Admin,Please Provide the new movie details to be added...</b></i>
<table  align="center" width="1">
<tr>
<td>
	<form name="addmovie" action="success" method="get">
<br>
		<tr><td>Movie Name:<input type="text" name="mname" required /></td></tr><br>

		<tr><td>Cast:<input type="text" required name="cast"/></td></tr><br>
		
		<tr><td>Year:<input type="text" required name="year"/></td></tr><br>
		
		<tr><td>Director:<input type="text" required name="director"/></td></tr><br>
		
		<tr><td>Music Director:<input type="text" required name="musicdirector"/></td></tr><br>

		<tr><td><input type="submit" value="Insert New Movie" name="insertnewmovie"/></td></tr>
</form>
</td>
</tr>
</table>
