<html>
<body>
<form action="FeedbackAction" name="feedback" align=center>
	<br>
  Name: <input type="text" name="fame" required><br><br>
  E-mail: <input type="email" name="fid" required placeholder="abcd@domainname.com"/><br><br>
<br>
<textarea required rows="4" cols="50" name="comment" form="FeedbackAction" placeholder="Enter your precious comments...">
</textarea><br>
Rate Us: 
<input type="radio" name="rate">5
<input type="radio" name="rate">4
<input type="radio" name="rate">3
<input type="radio" name="rate">2
<input type="radio" name="rate">1
<br>
<input type="submit"/>
</form>
</body>
</html>